# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.suo
*.user
*.py
*.bak
*.lua

# built application files
*.apk
*.ap_

# nuget packages
packages

# mstest test results
TestResults

# Resharper
_Resharper*

# Dynamic created files
VersionInfo.cs

# ncrunch test settings
*.ncrunchsolution
*.ncrunchproject

# Build output
Output
OutputTemp
InstallerTemp
/Lib/OculusVR/Code/OculusSDK.7z
/Lib/HEAD.zip
